* {
	box-sizing: border-box;
	font-family: cursive;
	font-weight: bold;
}

h1 {
	text-align: center;
	align-content: center;
}

.row {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.col-1,
.col-2,
.col-3 {
	padding: 10px;
}

.menu-box {
	border: solid black 3px;
	margin-bottom: 10px;
	background-color: lightgray;
}

.menu-1,
.menu-2,
.menu-3 {
	border-bottom: solid black 3px;
	border-left: solid black 3px;
	float: right;
}

.menu-1 {
	background-color: pink;
	text-align: center;
	padding: 5px;
}

.menu-2 {
	background-color: red;
	text-align: center;
	padding: 5px;
}

.menu-3 {
	background-color: yellow;
	text-align: center;
	padding: 5px;
}

p {
	text-align: justify;
	padding: 10px;
	clear: right;
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-1,
	.col-2 {
		float: left;
		width: 50%;
	}

	.col-3 {
		clear: left;
	}
}

@media (min-width: 992px) {
	.col-1,
	.col-2,
	.col-3 {
		float: left;
		width: 33%;
	}
}